<html>
    <head>
    </head>
    <body>
        <a href="/"><button>Home</button></a>
        <a href="/tags/glossary"><button>All tags</button></a>
        <a href="/tags/edit/{{tag.id}}/{{tag.name}}"><button>edit tag</button></a> 
        <h1>{{tag.name}}</h1>

        <p>{{tag.details}}</p>
        {% if pages|length > 0 %}
        <h3>Pages:</h3>
        <ul>
            {% for page in pages %}
            <li><a href="/page/{{page.id}}/{{page.title}}">{{page.title}}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </body>
</html>